[Unit]
Description=ElKowars wacky widgets - dashboard daemon
Documentation=https://elkowar.github.io/eww/
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/eww --config /home/ryanm/.config/eww/dashboard daemon --no-daemonize
Restart=on-failure

[Install]
WantedBy=graphical-session.target
