[Unit]
Description=ElKowars wacky widgets
Documentation=https://elkowar.github.io/eww/
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/eww --config /home/ryanm/.config/eww/bar daemon --no-daemonize
Restart=on-failure
PassEnvironment=HYPRLAND_INSTANCE_SIGNATURE XDG_RUNTIME_DIR

[Install]
WantedBy=graphical-session.target
