[Desktop Entry]
Name=sxrc
Comment=Executes the xinitrc script in the x11 directory
TryExec=sxrcsession-helper
Exec=/home/ryanm/documents/batcave/dotfiles/sxrcsession-helper
Type=Application
